Repository I-am-abdulazeez/stunk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @I-am-abdulazeez, @chibx, @Dreezy305

.github/CODEOWNERS:

* @I-am-abdulazeez @chibx @Dreezy305
src/core/* @I-am-abdulazeez
src/react/* @I-am-abdulazeez
tests/* @I-am-abdulazeez @chibx

readme: creating stunk, create stunk code snippet
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: creating stunk, create stunk code snippet, useChunk and useChunk with react
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: creating stunk, create stunk code snippet, useChunk and useChunk with react, useDerived
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useDerived and useDerived docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useDerived and useDerived docs
  README.md
  src/middleware/validator.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useComputed and useComputed docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useComputed and useComputed docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useComputed and useComputed docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useComputed and useComputed docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useAsyncChunk and useAsyncChunk docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useAsyncChunk and useAsyncChunk docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useAsyncChunk and useAsyncChunk docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useChunkValue and useChunkValue docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: useChunkValue and useChunkValue docs
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: added Live examples
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

readme: added Live examples
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

corrected a chunk
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix: type safety issue in chunk set method
  src/core/core.ts
Owners: @I-am-abdulazeez

chore: update version to 2.3.0 and adjust React dependencies
  package-lock.json
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix(exports): reorder properties in package.json exports for consistency
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: bump version to 2.3.1
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat: enhance chunk validation and error handling in combineAsyncChunks
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(asyncChunk): enhance asyncChunk functionality with refresh and caching options
  src/core/asyncChunk.ts
Owners: @I-am-abdulazeez

fix(chunk): replace processMiddleware with validateObjectShape for value validation
  src/core/core.ts
Owners: @I-am-abdulazeez

feat(types): enhance CombinedData and CombinedState types for better type safety
  src/core/types.ts
Owners: @I-am-abdulazeez

chore(package): update version to 2.4.0
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(asyncChunk): add cleanup method to AsyncChunk interface for resource management
  src/core/asyncChunk.ts
Owners: @I-am-abdulazeez

feat(useAsyncChunk): enhance documentation and add cleanup functionality for better resource management
  src/use-react/hooks/useAsyncChunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(asyncChunk): enhance parameter validation and loading state management
  src/core/asyncChunk.ts
Owners: @I-am-abdulazeez

feat(useAsyncChunk): enhance parameter handling and automatic updates for improved usability
  src/use-react/hooks/useAsyncChunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: check that there;s an object before setting loadin gto true
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix: test suite and added more tests to asyncChunk
  tests/async-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx

chore(package): update build scripts and improve module type definitions
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

Implement code changes to enhance functionality and improve performance
  package-lock.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

Implement new feature for user authentication and improve error handling
  pnpm-lock.yaml
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat: add tsup configuration for building and bundling
  tsup.config.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat: enhance processMiddleware with NamedMiddleware type and improved error handling
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

refactor: streamline CI workflow by consolidating steps and updating dependency management
  .github/workflows/ci.yml
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

refactor: update release workflow to use pnpm for dependency management and streamline build steps
  .github/workflows/release.yml
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix: add --no-git-checks flag to pnpm publish command to prevent git checks during publishing
  .github/workflows/release.yml
Owners: @I-am-abdulazeez, @chibx, @Dreezy305
