Repository I-am-abdulazeez/stunk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat: Add peek API to read values in a non-reactive way.
  src/core/core.ts
Owners: @I-am-abdulazeez

fix: Subscribers should only be notified on changes, not on subscription.
  src/core/core.ts
Owners: @I-am-abdulazeez

fix: classic infinite recursion problem.
  src/core/computed.ts
Owners: @I-am-abdulazeez

chore(core): readonly chunk interface
  src/core/core.ts
Owners: @I-am-abdulazeez

feat(core): computed to not return ser, and reset, since computed values cannot be reassigned, or reset (Source should be modified instead)
  src/core/computed.ts
Owners: @I-am-abdulazeez

chore(core): added derive to readonlychuck type, to chain state across derivation
  src/core/core.ts
Owners: @I-am-abdulazeez

chore(core): optimize select, and pass derivation well
  src/core/selector.ts
Owners: @I-am-abdulazeez

fix: accept both Chunk and ReadOnlyChunk
  src/core/selector.ts
Owners: @I-am-abdulazeez

chore(core): structure processMiddleware and add jsDocs to once, added peek to chunk API check, and add support options to validateObjectShape util
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: support null, and removal of undefined
  src/core/core.ts
Owners: @I-am-abdulazeez

test(chore): chunk test coverage with new API, and more coverage to make sure it works well
  tests/chunk.test.ts
Owners: @I-am-abdulazeez, @chibx

chore(middleware): update import names
  src/middleware/index.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): implement history in a better way, add skipDuplicates prop to help skip duplicate history by defaullt
  src/middleware/history.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): update persist function to handle localSttorage well
  src/middleware/persistence.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(core): history test coverage and more coverage
  tests/history.test.ts
Owners: @I-am-abdulazeez, @chibx

test(core): persist test coverage and more coverage
  tests/persist.test.ts
Owners: @I-am-abdulazeez, @chibx

test(core): select test coverage and more coverage
  tests/select-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx

refactor: move tests inside their own folder based on core structure
  tests/async-chunk.test.ts
  tests/batch-chunk.test.ts
  tests/chunk.test.ts
  tests/computed.test.ts
  tests/diamond-dep.test.ts
  tests/history.test.ts
  tests/middleware.test.ts
  tests/persist.test.ts
  tests/select-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx

chore: move infiiniteAsync and asyncChunk inside query folder
  src/core/async-chunk.ts
  src/core/infinite-async-chunk.ts
Owners: @I-am-abdulazeez

test(core): moved core tests to folder as structured
  tests/core/batch-chunk.test.ts
  tests/core/chunk.test.ts
  tests/core/computed.test.ts
  tests/core/diamond-dep.test.ts
  tests/core/history.test.ts
  tests/core/persist.test.ts
  tests/core/select-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(utils): removed combinedAsyncChunk from utils
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: name asyncChunk query instead of asynChunk
  src/core/types.ts
Owners: @I-am-abdulazeez

chore(react): remove useDerive hook from React package of Stunk. Since chunks can be derived outside of a React component, the hook is redundant.
  src/use-react/hooks/use-derive.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(core): asyncChunk test
  tests/query/async-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(react): update imports inside use-asyncChunk
  src/use-react/hooks/use-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(middleware): type safe logger as a simple middleware
  src/middleware/logger.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): move infiniteAsyncChunk inside query folder
  src/query/infinite-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): combine asyncChunk inside its own query folder
  src/query/combine-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(core): middleware test inside its own folder
  tests/middleware/middleware.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: export query as a seperate module
  src/query/index.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): asyncChunk inside query folder
  src/query/async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(react): remove useChunkProperty hook from React package of Stunk. Since chunks can be selected outside of a React component using select
  src/use-react/hooks/use-chunk-prop.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(react): export only 5 needed hooks
  src/use-react/index.ts
Owners: @I-am-abdulazeez

chore(core): minimize, ans structure imports in the core packages
  src/index.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(globals): dev flag
  src/globals.d.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(config): Added dev config to tsup package
  tsup.config.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): renamed to "persist"
  src/middleware/persist.ts
  tests/core/persist.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): renamed to persist
  src/middleware/index.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(middleware): fix type issue, and correct imports
  src/middleware/validator.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): Added Chunk meta to Chunk for better debugging
  src/index.ts
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

.github/CODEOWNERS:

* @I-am-abdulazeez @chibx @Dreezy305
src/core/* @I-am-abdulazeez
src/use-react/* @I-am-abdulazeez
src/use-vue/* @chibx
tests/* @I-am-abdulazeez @chibx
