Repository I-am-abdulazeez/stunk, changes with the owners that .github/CODEOWNERS names for each.
All owners: @I-am-abdulazeez, @chibx, @Dreezy305

.github/CODEOWNERS:

* @I-am-abdulazeez @chibx @Dreezy305
src/core/* @I-am-abdulazeez
src/use-react/* @I-am-abdulazeez
src/use-vue/* @chibx
tests/* @I-am-abdulazeez @chibx

chore(core): added validateObjectShape in dev mode, delete chunk regsitry when no subscribers. ChunkConfig to add structure toi chunk function by passing. chunk(0, {})
  src/core/core.ts
Owners: @I-am-abdulazeez

output cjs builds for middleware
  tsup.config.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: eliminate next call in middleware for simpler mental model
  src/core/core.ts
  src/middleware/logger.ts
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: bump version to 2.8.0
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: fix nonvalidator function to return value instead
  src/middleware/validator.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: update middleware
  src/middleware/logger.ts
  src/middleware/validator.ts
  src/utils.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(v3): update Middleware type
  src/core/core.ts
Owners: @I-am-abdulazeez

docs: add explicit type parameters to examples for better clarity
  README.md
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix(react): stabilise useAsyncChunk hook order and add rerender regression tests
  src/use-react/hooks/use-async-chunk.ts
  tests/react/use-async-chunk-hooks-order.test.tsx
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix(react): update useAsyncChunk to stabilize init-only options and add chunk identity handling in tests
  src/use-react/hooks/use-async-chunk.ts
  tests/react/use-async-chunk-hooks-order.test.tsx
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: bump version to 2.8.1, update home page url
  README.md
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore: updatre release keys
  .github/workflows/release.yml
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(query): add refetchOnWindowFocus to asyncChunk refresh config
  src/query/async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chorE: bump version to alpha 2
  package.json
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(query): add onSuccess callback to asyncChunk, called after every successful fetch
  src/core/types.ts
  src/query/async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(query): add keepPreviousData option and isPlaceholderData state to asyncChunk
  src/query/async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(query): add request deduplication via chunkKey, finalize all fixes and improvements
  src/query/async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

feat(query): guard refetchInterval setup with a browser check
  src/query/async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(react): drop useChunkValue because calling useChunkValue per chunk is clearer
  src/use-react/hooks/use-chunk-values.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(react): drop useChunkValue because calling useChunkValue per chunk is clearer
  src/use-react/hooks/use-chunk-values.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

refactor(react): rewrite useAsyncChunk — single effect, fix hooks rules, expose isPlaceholderData and clearParams
  src/use-react/hooks/use-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(query): update asyncChunk test suite — fix initial state shape, add coverage for all new features
  tests/query/async-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(vitest): update vitest config to include global variable, to make it available at runtime
  vitest.config.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(core): cleanup unnecessary comment
  src/core/core.ts
Owners: @I-am-abdulazeez

fix(query): initial state to always include isPlaceholderData for test to pass
  src/query/async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(query): setup file that defines global variable
  tests/setup.ts
Owners: @I-am-abdulazeez, @chibx

fix(tests): replace runAllTimersAsync with advanceTimersByTimeAsync to prevent infinite loop
  tests/query/async-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(test): remove duplicate tests
  tests/query/async-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(test): remove useChunkValues()
  src/use-react/index.ts
Owners: @I-am-abdulazeez

feat(infinite-async-chunk): sync options with asyncChunk — add key, enabled, keepPreviousData, refetch config, and onSuccess
  src/query/infinite-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix(combine-async-chunks): derive initial state from chunks and re-read all chunk states on update
  src/query/combine-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

chore(query): export combine asyncChunk
  src/query/index.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix(query): rewrite infiniteAsyncChunk — fix return type, avoid spreading undefined refresh values, expose clearParams and forceCleanup
  src/query/infinite-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

refactor(react): rewrite useInfiniteAsyncChunk, stable observer, fix SSR, fix isFetchingMore, explicit return type
  src/use-react/hooks/use-infinite-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

refactor(react): rewrite useInfiniteAsyncChunk, stable observer, fix SSR, fix isFetchingMore, explicit return type
  src/use-react/hooks/use-infinite-async-chunk.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

fix(test): fix side effects timeout in infiniteAsyncChunk — manual reload before interval assertions
  tests/query/infinite-async.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(query): fix failing timer assertions, remove section separator comments, match project style
  tests/query/async-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(query): fix failing timer assertions, remove section separator comments, match project style
  tests/query/combine-async.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(core): update chunk test suite — add peek/trackDependencies, batch nested calls, derive ReadOnlyChunk, null/falsy init values
  tests/core/chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305

test(core): update select test suite — fix import path, add peek, null values, array transforms, chaining, nested derive with options
  tests/core/select-chunk.test.ts
Owners: @I-am-abdulazeez, @chibx, @Dreezy305
